.section-2{
    background: #C7D3D4FF;
    height:14rem;
}


.btn-purple{
    background: #704ca7;
 }

.section-3{
    background: rgb(255, 255, 255);
    position: absolute;
    width: 28%;
    left: 4%;
    top: 180px;
    border-radius: 10px;
    border-top:0.5rem solid  rgb(1, 134, 187) ;

} 

.section-4{
    background: white;
    position: absolute;
    width: 28%;
    left: 36%;
    top: 178px;
    border-radius: 10px;
    border-top:0.5rem solid  rgb(19, 156, 156) ;

}

.section-5{
    background: white;
    position: absolute;
    width: 28%;
    height: 340px;
    left: 68%;
    top: 178px;
    border-radius: 10px;
    border-top:0.5rem solid  #704ca7 ;
}



.section-6{
    background:#563d7c;
    height:45vh;
}

@media(max-width: 768px) and (min-width:728px) {

    .section-3{
        width: 55%;
        left: 20%;
        top: 330px;

    } 
    .section-4{
        width: 55%;
        left: 20%;
        top: 670px;
    }

    .section-6{
        background:#563d7c;
        height:160vh;
    }

    .section-5{
        width: 55%;
        left: 20%;
        top:1010px;
    }
    
}

@media(max-width: 965px) and (min-width:768px) {
     .section-6{
         height: 65vh;
     }
}

@media(max-width: 768px) and (min-width:600px) {
    .section-3{
        width: 80%;
        left: 10%;
        top: 330px;
    } 
    .section-4{
        width: 80%;
        left: 10%;
        top: 720px;
    }
    .section-5{
        width: 80%;
        left: 10%;
        top: 1100px;
    }

    .section-6{
        background:#563d7c;
        height:180vh;
    }
}


@media(max-width: 600px) and (min-width:340px) {
    .section-3{
        width: 91%;
        left: 5%;
        top: 330px;
    } 
    .section-4{
        width: 91%;
        left: 5%;
        top: 720px;
    }
    .section-5{
        width: 91%;
        left: 5%;
        top: 1100px;
    }

    .section-6{
        background:#563d7c;
        height:180vh;
    }

}
