.contact-container{
    background: var(--secondary-color);
}

.contact-container h2{
    color: rgba(255, 0, 0, 0.747);
}

.contact-container .form-control{
    width: 60%;
}

.main-section{
    padding: 4rem;
    color:var(--primary-color);
}

.contactUs{
    color:var(--primary-color);
    font-weight: 700;
}

hr{
    border: 2px solid white;
}

.contact-label{
    color:var(--primary-color);
    font-weight: 700;
    padding-top: 1rem;
}

textarea{
    height: 7rem;
}

.send{
    color:var(--primary-color);
    font-weight: 700;
    border: 3px solid var(--primary-color);
    margin-top: 1rem;
    padding: 0.5rem 1rem ;
    cursor: pointer;
    background: var(--secondary-color);
}

.send:hover{
    color: var(--secondary-color);
    background: var(--primary-color);
    border: 3px solid var(--secondary-color);
}
  
@media(max-width:550px) and (min-width:360px){
    .main-section{
        padding: 1rem;
    }
}