.container{
   width: 70%;
   margin: auto;
   background: #f8f9fa;
}

.about-img{
    width:100%;
    height: 600px;
}

.quote{
    border-left: 5px solid gray;
    padding: 1.5rem;
    background: rgb(230, 224, 224);
}

@media(max-width: 600px) and (min-width:340px) {
.container{
    width: 100%;
}
.about-img{
    height: 400px;
}
}

@media(max-width: 768px) and (min-width:600px) {
    .container{
        width: 100%;
    }
    .about-img{
        height: 500px;
    }
}