.navbar{
   background: #563d7c;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: grey;
}

.navbar-brand{
    color: white;
}

.navbar-brand:hover{
    color: grey;
}

.nav-item{
    padding-left: 1rem;
    font-size: larger;
}

.btn-purple{
   background: #563d7c;
}