*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}


.side {
    position: fixed;
    background-color:var(--secondary-color);
    height: 100vh;
    left: -250px;
    width: 250px;
    top: 0;
    z-index: 200;
	transition: all 0.5s ease;
}


.side a {
    display: block;
    text-decoration: none;
    padding-top: 15px;
    padding-left: 20px;
	padding-bottom: 15px;
    color: var(--primary-color);
    word-spacing: 9px;
}

.side header{
	line-height:60px;
	font-size: 28px; 
	color: var(--primary-color);
	font-weight: 700;
	transition: all 0.5s ease;
    padding-left: 1.3rem;
	padding-top: 1rem;
	margin-bottom: 4px;
    box-shadow: 0 2px 5px var(--shadow-1);
}

.side a:hover {
    background-color: var(--tertiary-color);
    border-left: 5px solid var(--primary-color);
}

#check{
	display: none;
}

label #btn, label #cancel {
    color:var(--primary-color);
    position: fixed;
    width: 5rem;
    height: 4rem;
    line-height: 50px;
    font-size: 28px;
    text-align: center;
    transition: all 0.5s;
    z-index: 500;
    top: 0;
    padding-top: 0.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 0.5rem;
}

label #btn{
    box-shadow:  -3px -3px 5px rgb(86, 77, 133), 3px 3px 5px  rgb(140, 127, 202);
    background: #7c30ff;
    border-radius: 20px;
}

label #btn:hover{
    box-shadow:   -3px -3px 5px  rgb(140, 127, 202),3px 3px 5px rgb(86, 77, 133);
}

#cancel{
	opacity: 0;
    visibility: hidden;
}
	
#check:checked ~ label #btn{	
	margin-left: 280px;
	opacity: 0;
	visibility: hidden;
}

#check:checked ~ label #cancel {
    margin-left: 169px;
    opacity: 1;
    width: 5rem;
    height: 5rem;
    padding-top: 0.7rem;
    visibility: visible;
    transition: all 0.5s;
    border: none;
}

#check:checked ~ .side{
	left: 0px;
}

.topnav {
    background-color: var(--secondary-color);
    padding: 8px;
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: 20px;
    height: 6rem;
    text-align: right;
    z-index: 3;
    display: block;
    padding-top: 1.3rem;
    box-shadow: 3px 3px 5px var(--shadow-2);
}
.topnav a{
	color: var(--primary-color);
	font-size: 28px;
	padding: 14px;
	padding-left: 28px;
    padding-right: 28px;
    margin-left: 1rem;
    box-shadow:  -3px -3px 5px rgb(140, 127, 202), 5px 5px 5px  rgb(86, 77, 133);
    background: #7c30ff;
    border-radius: 20px;
    transition: all 0.4s;
}

.topnav a:hover{
    box-shadow:  -5px -5px 5px  rgb(86, 77, 133), 5px 5px 5px rgb(140, 127, 202);
}

