.main{
    box-shadow: 2px 2px 2px 2px var(--secondary-color) inset,-2px -2px 2px 2px var(--secondary-color) inset;
    padding: 1rem;
    color: var(--secondary-color);
    width: 70%;
    margin: auto;
    margin-top: 2.5rem;
 }
 
 .work-img{
     text-align: center;
 }

 .img-1{
    height: 400px;
    width: 80%;
 }

 @media(max-width: 600px) and (min-width:340px) {
    .main{
        width: 100%;
    }
    }
    
    @media(max-width: 768px) and (min-width:600px) {
        .main{
            width: 100%;
        }
    }