.filter-container{
    position: fixed;
    top:40px;
    left:0;
    height: 100vh;
    width: 22%;
    padding-top: 1.8rem;
    background: var(--secondary-color);
    border-left: 1.5rem solid var(--secondary-color);
    box-shadow:inset -12px -12px 8px var(--shadow-2),inset 10px 10px 8px var(--shadow-2);
}

.filterDiv{
    border-top-left-radius:200px ;
    padding: 1.5rem;
    padding-top: 4rem;
    background:var(--primary-color);
    height: 100Vh;
    box-shadow:inset -10px -10px 8px var(--shadow-2), 10px 10px 8px var(--shadow-1);
}

.filterDiv h2{
    color: black;
    font-weight: 700;
}

.filterDiv i{
    color: var(--secondary-color);
}

.filterDiv button{
    background: var(--secondary-color);
    color: var(--primary-color);
    display: block;
    box-shadow: inset 5px 5px 8px var(--shadow-1),inset -5px -5px 5px var(--shadow-2),
    5px 5px 8px var(--shadow-1), -1px -1px 5px var(--shadow-2);
}

.filterDiv button:hover{
    box-shadow: inset 5px 5px 8px var(--shadow-1),inset -5px -5px 5px var(--shadow-2),
    5px 5px 8px var(--shadow-2), -5px -5px 5px var(--shadow-1);
}

.filterDiv label{
    font-size: larger;
}

.filterDiv .form-control{
    box-shadow: inset 5px 5px 8px var(--shadow-1),inset -5px -5px 5px var(--shadow-2);
}

.areaSuggestions{
    position: absolute;
    top:41%;
    left:8.8%;
    width: 236px;
   

    border-radius: 10px;
}

.highlight{
    display: block;
    padding: 0.5rem 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: inset 5px 5px 8px var(--shadow-1),inset -5px -5px 5px var(--shadow-2);
    background: var(--primary-color);
}

.highlight:hover{
    cursor: pointer;
    background: var(--secondary-color);
    border: 0.1rem solid var(--primary-color);
    color: var(--primary-color);
}