.main-posts{
    margin-top: 2.1rem;
    background: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.posts-container{
  background: white;
  color: var(--primary-color);
  width:75%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 25%;
  line-height: 23px;
} 


.posts-container img{
    height: 280px;
    width: 500px;
    border-radius: 2px;
}

.col-6{
    padding-left: 0;
    padding-right: 0;
    align-self: center;
}

.hostel-name{
    color: black;
    font-size: xx-large;
    font-weight: 700;
}

.room-details{
    color: black;
    font-size: x-large;
    font-weight:100;
}

.address,.area{
    color: black;
    font-size: large;
    font-weight:100;
}

.rent{
    color: red;
    font-size: x-large;
    font-weight:800;
    display: inline-block;
    padding-left: 0;
}

.viewBtn{
    padding: 0.5rem 1rem;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
}

.viewBtn:hover{
    padding: 0.5rem 1rem;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    cursor: pointer;
    border: 1px solid var(--secondary-color);
}

.separate{
    border-bottom:1px solid rgb(211, 202, 202);
    margin: 2rem 0;
    margin-left: 25%;
}

.carousel-item{
    margin-top: 0;
    margin-bottom: 0;
    left:-60px;
}

@media(max-width:1040px) and (min-width:800px){
    .posts-container img{
        height: 430px;
    }
}


@media(max-width:800px) and (min-width:600px){
    .posts-container img{
        height: 300px;
        width: 520px;
    }
}

@media(max-width:600px) and (min-width:300px){
   .posts-container{
       margin-left: 0;       
       width: 100%;
   }

   .posts-container img{
    height: 300px;
    }

    .separate{
        margin-left: 0;
    }
    .carousel-item{
       left: -40px;
    }

}


