.main-posts {
    margin-top: 2.6rem;
    padding-top: 1rem;
    background: var(--primary-color);
    padding-bottom: 1rem;
}

.posts-container {
    background: var(--primary-color);
    width: 75%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 25%;
    line-height: 23px;
}

.posts-container img {
    height: 280px;
    width: 96%;
    margin:1rem 0;
    border-radius: 20px;
    box-shadow:10px 11px 8px var(--shadow-2);
}

.posts-container .carousel {
    background: var(--primary-color);
    border-radius: 20px;
    padding-top: 0.7rem;
}

.posts-container .carousel-control-prev{
    top: 25px;
}

.posts-container .carousel-control-next{
    top: 25px;
    right: 3%;
}


.posts-container .col-6{
    padding-left: 0;
    padding-right: 0;
    align-self: center;
}

.hostel-name{
    font-size: xx-large;
    font-weight: 700;
}

.room-details{
    color: rgba(0, 0, 0, 0.623);
    font-size: x-large;
    font-weight:700;
}

.address,.area{
    font-size: large;
    font-weight:100;
}

.rent{
    color: rgba(255, 0, 0, 0.829);
    font-size: x-large;
    font-weight:800;
    display: inline-block;
    padding-left: 0;
}

.viewBtn{
    padding: 0.5rem 1rem;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    border-radius:20px;
    box-shadow:-5px -5px 8px var(--shadow-1),5px 5px 8px var(--shadow-2);
    cursor: pointer;
}

.viewBtn:hover{
    box-shadow:-3px -3px 8px var(--shadow-2),5px 5px 8px var(--shadow-1);
}

.separate{
    border-bottom:1px solid rgb(211, 202, 202);
    margin: 2rem 0;
    margin-left: 25%;
}

.posts-container .carousel-item{
    margin-top: 0;
    margin-bottom: 0;
    left:-60px;
    margin-left: 13%;
}

@media(max-width:1040px) and (min-width:800px){
    .posts-container img{
        height: 430px;
    }
}


@media(max-width:600px) and (min-width:300px){
   .posts-container{
       margin-left: 0;       
       width: 100%;
   }

   .posts-container img{
    height: 300px;
    width: 95%;
    margin-left: 4%;
    }

    .viewBtn{
        margin-top: 1rem;
    }

    .separate{
        margin-left: 0;
    }
    
}


