.login-container{
        background:var(--primary-color);
        padding: 1.7% 0;
}

.loginSection{
    background: var(--secondary-color);
    width: 45%;
    margin: auto;
    padding: 3rem 1rem;
    border-radius: 15px;
    border: none;
    box-shadow: -5px -4px 5px var(--shadow-1),6px 6px 3px var(--shadow-2);
}

.login-label{
    color: var(--primary-color);
    margin-top: 10px;
    font-size: large;
    font-weight: 500;
}

.formSection{
    margin: auto;
    border-radius: 10px;
    padding: 1rem 2rem;
}

.loginSection .form-control{
    box-shadow: inset 5px 5px 8px var(--shadow-2),inset -5px -5px 5px var(--shadow-1);
    height: 3rem;
    background: var(--primary-color);
    border-radius: 20px;
    padding-left: 1.2rem;
}

.loginBtn{
    background:#e9ecef;
    color: var(--secondary-color);
    font-weight: 800;
    border-radius: 20px;
    padding: 0.5rem 0;
    cursor: pointer;
    border: none;
    width: 30%;
    outline: none;
    box-shadow: -3px -3px 5px var(--shadow-1) ,3px 3px 5px var(--shadow-2);
}

.loginBtn:active{
    box-shadow: -3px -3px 5px var(--shadow-2),
    3px 3px 5px var(--shadow-1);
    outline: none;
}




.link{
    color: var(--primary-color);
}

.link:hover{
    color: var(--primary-color);
    text-decoration: double underline;
}

@media(max-width:1024px) and (min-width:700px){
  .loginSection{
     width: 60%;
}
}

@media(max-width:700px) and (min-width:550px){
    .loginSection{
       width: 80%;
  }
  }

@media(max-width:550px) and (min-width:360px){
    .loginSection{
       width: 90%;
}
}