:root{
    --primary-color: #283350;
    --secondary-color:    white;
}

body{
    background: var(--primary-color);
}

.main-container{
        background:var(--primary-color);
        padding: 1.7% 0;
}

.loginSection{
    background: var(--secondary-color);
     width: 45%;
     margin: auto;
     padding: 3rem 1rem;
     border-radius: 10px;
    border: none;
}

.login-heading{
     color:var(--primary-color);
    font-weight: 800;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    padding: 1rem;
}

.login-label{
    color: var(--primary-color);
    margin-top: 10px;
}

.form-control{
    width: 100%;
    border-radius: 10px;
}

.form-control::placeholder{
    color: black;
}


.form-group{
    margin-bottom: 0;
}

.loginBtn{
    background: var(--primary-color);
    color: var(--secondary-color);
    font-weight: 800;
    border-radius: 10px;
    padding: 0.5rem 0;
    cursor: pointer;
    width: 45%;
}

.loginBtn:hover{
    color: var(--primary-color);
    background: var(--secondary-color);
    border: 2px solid var(--primary-color);
}

.formSection{
    margin: auto;
    border-radius: 10px;
    padding: 1rem 2rem;
}

.link{
    color: var(--primary-color);
}

.link:hover{
    color: var(--primary-color);
    text-decoration: double underline;
}

@media(max-width:1024px) and (min-width:700px){
  .loginSection{
     width: 60%;
}
}

@media(max-width:700px) and (min-width:550px){
    .loginSection{
       width: 80%;
  }
  }

@media(max-width:550px) and (min-width:360px){
    .loginSection{
       width: 90%;
}
}