.newpost-container{
    padding: 4rem 4rem;
    background: var(--primary-color);
}


.newpost-container .form-control{
    width: 70%;
}

.Btn{
    color:var(--primary-color);
    font-weight: 700;
    border: 2px solid var(--primary-color);
    margin-top: 1rem;
    background:var(--font-color-4);
    cursor: pointer;
    display: inline-block;
    padding: 0.6rem 1.5rem;
    border: 2px solid var(--font-color-4);
}

.Btn:hover{
    color:var(--font-color-4);
    background:var(--font-color-1);
    border: 2px solid var(--font-color-4);
}

.submitBtn{
    color:var(--font-color-4);
    font-weight: 700;
    border: 2px solid var(--font-color-4);
    margin-top: 1rem;
    background: var(--primary-color);
    display: inline-block;
    cursor: pointer;
    padding: 0.6rem 1.5rem;
}

.submitBtn:hover{
    color: var(--primary-color);
    background:var(--font-color-4);
    border: 2px solid var(--font-color-1);
}


.newpost-label{
    color: var(--font-color-4);
    margin-top: 20px;
    font-weight: 600;
}

.form-control{
    box-shadow: 2px 2px var(--shadow-5) inset,-2px -2px var(--shadow-5) inset;
}

.uploadPost{
    background-color:var(--primary-color);
    width: 600px;
    height: 100px;
    position: absolute;
    top: 150vh;
    left: 30%;
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
    z-index: 100;
    transition: all 0.5s ease-out;
}


.uploadClosed{
    display: none;
}

.uploadOpen{
    opacity: 1;
    display: block;
    transform: translateY(0);
}