.mainDiv{
   width: 70%;
   margin-left: 2rem;
   margin-top: 2rem;
   text-align: center;
   background: black;
   border: 1px solid white;
   border-radius:5px ;
}

.details{
    background: white;
    width: 70%;
    margin-left: 2rem;
    margin-top: 1px;
    border: 1px solid white;
    border-radius:5px ;
    margin-bottom: 1rem;
    padding: 1rem;
}

.carousel-item{
    margin-left: 12%;
}


p.a{
    word-spacing: 10rem;
}
p.b{
    word-spacing: 10.6rem;
}
p.c{
    word-spacing: 9.1rem;
}
p.d{
    word-spacing: 7.3rem;
}


span{
    color: black;
    text-align: right;
    word-spacing: 0;
}

@media(max-width:768px) and (min-width:600px){
.mainDiv{
    width: 100%;
   margin-left: 0;

}

.details{
    width: 100%;
    margin-left: 0;
}
}

@media(max-width:600px) and (min-width:300px){
.mainDiv{
        width: 100%;
        margin-left: 0;
}
    
.details{
        width: 100%;
        margin-left: 0;
}

p.a{
    word-spacing: 5rem;
}
p.b{
    word-spacing: 5.6rem;
}
p.c{
    word-spacing: 4.1rem;
}
p.d{
    word-spacing: 2.3rem;
}

}