.fullpost-container{
    padding-top: 4rem;
}

.fullpost-container .carousel-item{
    background: #1e1e1e;
    width: 100%;
    text-align: center;
    left: -120px;
}

.fullpost-img{
   width: 80%;
   height:450px;
   border-radius: 5px;
   margin-right: 15px;
}

.fullpost-container .carousel-inner{
    width: 73%;
    margin-left: 4rem;
    border-radius: 5px;

}

.fullpost-container .carousel-control-prev{
    top: 90px;
}

.fullpost-container .carousel-control-next{
    top: 90px;
    right: 215px;
}

.fullpost-details{
    background: #1e1e1e;
    width: 73%;
    margin-left: 4rem;
    margin-top: 5px;
    border-radius: 5px;
    color: red;
    padding: 2rem;
    font-weight: 600;
    font-size: large;
}

