.fullpost-container{
    padding-top: 4rem;
    background: #e9ecef;
}

.fullpost-container .carousel-item{
    background: black;
    width: 100%;
    text-align: center;
}

.fullpost-img{
   width: 80%;
   height:450px;
}

.fullpost-container .carousel-inner{
    width: 73%;
    margin-left: 4rem;
    border-radius: 20px;

}
.fullpost-details h1{
    color:#8445f1;
}

.fullpost-container .carousel-control-prev{
    top: 50px;
}

.fullpost-container .carousel-control-next{
    top: 50px;
    right: 240px;
}

.fullpost-details{
    background: white;
    width: 73%;
    margin-left: 4rem;
    margin-top: 1rem;
    border-radius: 20px;
    padding: 2rem;
    font-weight: 600;
    font-size: large;
    
}

